@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@1,200;1,500&family=Rubik:ital,wght@0,400;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@1,200;1,500&family=Rubik:ital,wght@0,400;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@1,200;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,400;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@1,200;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,400;1,400;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-style: normal;
}
body {
  background: #f5f5f5;
}
header {
  width: 100%;
  padding: 27px 0;
}
header .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .menu nav a {
  margin-left: 50px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
header nav a.active {
  text-decoration: underline;
}
.title h2 {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
  color: #232323;
}
section.testimonials {
  width: 100%;
  background: #ffffff;
}
.testimonials .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}
.testimonials .title h2 {
  margin-top: 70px;
}
.testimonials .title p {
  width: 1222px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #525252;
  margin-top: 45px;
}
.testimonials .container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 95px 0;
}
.testimonials .container .photo,
.testimonials .container .review {
  width: 45%;
}
.testimonials .container .photo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonials .container .photo .reviewer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials .container .photo .reviewer .name {
  text-align: center;
  margin-top: 30px;
}
.testimonials .container .photo .reviewer .name h2 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin-bottom: 5px;
}
.testimonials .container .photo .reviewer .name p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}
.testimonials .container .review .comments {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin-top: 21px;
  text-align: justify;
}
.testimonials .container .review .button {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 25%;
  position: relative;
  left: 470px;
}
.testimonials .scroll {
  display: flex;
  justify-content: center;
}
footer {
  width: 100%;
  background: #ffe5ec;
}
footer .icons {
  position: relative;
  left: 1000px;
  top: -50px;
  width: 30%;
  display: flex;
  justify-content: space-between;
}
footer .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 140px 0;
}
footer .container .logo,
footer .container .link,
footer .container .customer {
  width: 30%;
}

footer .container .logo {
  display: block;
}
footer .container .logo p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
footer .container h2 {
  font-family: "Noto Serif";
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 25px;
}
footer .container a {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  color: #000000;
  display: block;
}
footer .container .customer {
  align-items: center;
}
footer .container .customer .phone,
footer .container .customer .email {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 30px;
}

footer .container .customer .phone p,
footer .container .customer .email p {
  display: inline-flex;
  text-align: center;
  margin: 10px;
}
